extends ../layout

block content
  +header
  main
    h1 Home Page
    div.technologies
      span +
      +img('ts.webp')
      span +
      +img('sass.png')
      span +
      +img('pug.svg')
    div lorem1000
  +footer()